*
!/Python
!/Python/collect.py
!/Python/train_dictionary.py
!/Python/score_tweets.py
!/Python/translate_scores.py
!/Python/strip_accents.py

!/R
!/R/main.R

!/Results

!/Results/Fig
!/Results/Fig/crop.sh
!/Results/Fig/crop_all.sh


!/Results/Data
!/Results/Data/AFINN-README.txt

!/Results/Table

!twitter.tex
!.gitignore
!README.md
!Makefile